*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.barcode{
    display: grid;
    grid-template-areas: 'input input copy barcode barcode barcode barcode close' 'button button . barcode barcode barcode barcode .';
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 8px;
    background-color: aliceblue;
    margin: 4px;
    max-height: 300px;
}

#barcode-copy{
    margin: 4px 2px;
    grid-area: copy;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    transition: all 0.5s;
    width: 100px;
    height: 32px;
    font-size: 16px;
}

#barcode-copy:hover{
    cursor: pointer;
}

#barcode-copy:active{
    color: aliceblue;
    border: 2px dashed black;
}

#barcode-data{
    grid-area: input;
    margin: 4px;
    padding: 4px;
    border: 2px solid blue;
    border-radius: 4px;
    height: 32px;
    color: blue;
    outline: none;
    font-size: 16px;
    caret-color: blue;
}

#barcode-data:focus{
    border: 2px solid burlywood;
}

#barcode-button{
    grid-area: button;
    width: 200px;
    height: 32px;
    margin: auto;
    border: none;
    font-size: 16px;
    color: blue;
    background-color: rgb(213, 235, 255);
    border-radius: 4px;
    box-shadow: 0px 0px 6px rgb(214, 214, 214);
    transition: box-shadow 0.5s;
    cursor: pointer;
}

#barcode-button:active{
    color: rgba(0, 0, 255, 0.466);
    box-shadow: 0px 0px 2px rgb(214, 214, 214) inset;
}

#barcode-image{
    grid-area: barcode;
    width: auto;
    height: auto;
    margin: 4px auto;
}

#barcode-close{
    cursor: pointer;
    margin: 4px;
    height: 16px;
    width: 16px;
    justify-self: end;
}

.add{
    animation-name: add;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.remove{
    animation-name: remove;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;    
}

@keyframes add {
    from{max-height: 0px;}
    to{max-height: 300px;}
}

@keyframes remove {
    from{max-height: 300px;}
    to{max-height: 0px;}
}