*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    padding: 2px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: 2px solid blue;
    border-radius: 8px;
    font-weight: bold;
    font-size: 24px;
}

.options{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 0px;
    margin-top: 4px;
    border-radius: 8px;
    border: 2px solid rgb(120, 120,120);
    background-color: rgb(255, 255, 255);
}

.button{
    background-color: blue;
    border-radius: 4px;
    border: 2px solid blue;
    cursor: pointer;
    color: white;
    padding: 4px 8px;
    margin: auto 4px;
    transition: all 0.5s;
    font-size: 16px;
}

#clearAll:hover{
    color: red;
}

.button:hover{
    color: blue;
    background-color: white;
}

.button:active{
    border: 2px solid black;
}

.barcodes{
    margin: 4px;
}

.report{
    position: fixed;
    right: 16px;
    bottom: 16px;
    border-radius: 8px;
    padding: 4px;
    background-color: antiquewhite;
    cursor: pointer;
    transition: all 0.5s;
}